<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<!--구역1-->
<div style="grid-template-columns: 7fr 8fr;" class="d-grid gap-1 row-gap-3">
    <!-- 왼쪽 -->
    <div>
        <div>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/test2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="static/img/test2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="static/img/test2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="static/img/test2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div>
            <!-- 슬라이드 밑-->
            <div style="grid-template-columns: 8fr 2fr;" class="d-grid gap-1 row-gap-3">
                <p>❤️580명이 추천했습니다! 이 여행 상품이 마음에 드셨다면 추천해주세요</p>
                <button>추천하기(로그인 필요)</button>
            </div>
            <button>1:1문의</button>
            <button>❤️</button>
            <button>🖨️</button>
            <button>🖇️</button>
        </div>
        <div>
            <p>여행일정  2026.10.08 (목) 10:10 ~ 2026.10.12 (월) 16:30 4박 5일</p>
        </div>
    </div>
    <!-- 오른쪽 -->
    <div>
        <h3>문경새재 황톳길 맨발 트레킹& 오미자 와인동굴 투어(제목)</h3>
        <p>⭐별점 후기 3건</p>
        <p>영남대로 과거길 문경새재 흙길을 맨발로 걸으며 자연을 느끼고, 와인터널에서 붉은 오미자 스파클링 와인을 시음합니다.(간략한 소개)</p>
        <!-- 가격표시 -->
        <div>
            <h5>🛒 비회원 일반 구매</h5>
            <div style="grid-template-columns: 7fr 8fr;" class="d-grid gap-1 row-gap-3">
                <p>일반 정상가</p>
                <p>49,000원</p>
            </div>
            <div style="grid-template-columns: 7fr 8fr;" class="d-grid gap-1 row-gap-3">
                <h5>판매금액</h5>
                <h5>49,000원</h5>
            </div>
        </div>
        <div>
            <p>수량/인원: 1</p>
            <button> 비회원 바로 구매하기(정가 49,000원)</button>
        </div>
        <botton></botton>
        <div>
            <div>💡로그인 시 10% 특별할인 적용 / 44,100원에 이용 가능!</div>
            <button>로그인하고 할인 결제</button>
            <button>간편 회원가입</button>
        </div>
    </div>
</div>

<!-- 구역2 -->
<div>
    <h3> 여행 주요 일정</h3>
    <h5> 일정 4박 5일</h5>
    <p> 출발 : 2026.10.08(목) 10:10</p>
    <p> 도착 : 2026.10.12(월) 14:00</p>

</div>
<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">상품설명</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">상세일정</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">지도보기</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">출발 전 정보</button>
        </li>
    </ul>
    <div class="tab-content 2-100" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">상품설명 내용</div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">상세일정</div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <div class="ratio ratio-16x9">
                <iframe src="https://map.kakao.com/"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">출발 전 정보?</div>
    </div>
</div>

<!-- 구역3 -->
<div>정보 가져와야함</div>

<!-- 구역4 -->
<div>
    <h5>유의사항</h5>
    <p>txt에 정보가져오기</p>
</div>
<div>
    <h5>취소및환불규정</h5>
    <p>txt에 정보가져오기</p>
</div>

<div style="grid-template-columns: 8fr 3fr;" class="d-grid gap-1 row-gap-3">
    <div>
        <h6>로그인하시면 위 추천 민박 및 호텔을 회원가로 함꼐 예약하실 수 있습니다.</h6>
        <p>회원 가입 즉시 관광 상품 10~20% 및 숙박 시설 우대 할인이 자동 적용됩니다.</p>
    </div>
    <div>
        <button>로그인</button>
        <button>회원가입</button>
    </div>
</div>

<!-- 구역5 -->
<div>
    <h5>여행자 솔직후기</h5>
    <p>추후 작업?</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>